<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MnistDigitRecognizer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.3ff695c00d717f2d2a11.css') }}"></head>
<body>
  <app-root></app-root>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'polyfills-es5.a83ac866abc867bfd530.js') }}"></script>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'polyfills-es2015.0fe6949bc5ff4b784062.js') }}" ></script>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'runtime-es2015.85f895af57b038f1e5b4.js') }}" ></script>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'main-es2015.af4e5855c83865b1e964.js') }}" ></script>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'runtime-es5.85f895af57b038f1e5b4.js') }}" ></script>
<script type = "text/javascript" 
src = "{{ url_for('static', filename = 'main-es5.af4e5855c83865b1e964.js') }}" ></script></body>
</html>
