Flask==1.0.2
Flask-Cors==3.0.8
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
jsonschema==2.6.0
imageio==2.3.0
Pillow>=6.2.2
numpy==1.14.3
numpydoc==0.8.0
unicodecsv==0.14.1
pypng==0.0.20
pandas==0.23.0
scikit-image==0.13.1
scikit-learn==0.21.3
scipy==1.1.0
seaborn==0.8.1
